@color-base: #eee;
@entry: #99a;
@entry-hover: #778;
@topbar-height: 3em;
@bottombar-height: 5em;
@main-bg: #aab;

button {
  cursor: pointer;
}

body {
  font-family: Verdana;
  background-color: @main-bg;
}

.Section-title {
  display: flex;
  padding: 0em 1em;
}

.App {
  background-color: @main-bg;
  > * {
    display: flex;
  }
  header {
    background-color: @main-bg;
    width: 100%;
    height: @topbar-height;
    justify-content: space-between;
    position: fixed;
    .brand {
      padding: 1em;
    }
    nav {
      flex: 2;
      background-color: #ede;
      border-radius: 0 0 0em 1em;
      display: flex;
      justify-content: space-between;
      form {
        padding: 0 1em;
        display: flex;
        align-items: center;
        input[type="text"] {
          flex: 6;
        }
        button {
          color: #667;
          border: 0;
        }
        button:hover {
          color: #001;
        }
      }
      ul {
        display: flex;
        list-style: none;
        li {
          padding: 0 1em;
        }
      }
    }
  }
  main {
    background-color: #aab;
    display: flex;
    padding-top: @topbar-height;
    padding-bottom: @bottombar-height;
    .ContentItems {
      h2 {
        padding: 0em 1em;
      }
      // height: 100vh;
      flex: 4;
      .VideoList {
        ul {
          list-style: none;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
          grid-auto-rows: minmax(
            12em,
            auto
          ); // 12em height to remove when fill with images
          column-gap: 1em;
          row-gap: 1em;
          .item {
            cursor: pointer;
            padding: 1em 1em;
            border-radius: 0.4em;
            background-color: @entry;
            display: flex;
            flex-direction: column;
            img {
              height: 100%;
              background-color: #444;
            }
            .video-title {
              height: 3em;
              display: flex;
              align-items: center;
            }
          }
          .item:hover {
            background-color: @entry-hover;
          }
        }
      }
    }
    .Queue {
      flex: 1;
      ul {
        // width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        li:first-child {
          border-radius: 1em 1em 0em 0em;
        }
        li:last-child {
          border-radius: 0em 0em 1em 1em;
        }

        li {
          display: flex;
          padding: 0 1em;
          align-items: center;
          height: 2em;
          background-color: @entry;
          // width: 100%;
          cursor: pointer;
        }
        li:hover {
          background-color: @entry-hover;
        }
      }
    }
  }
  .Controls {
    padding: 1em;
    background-color: #113;
    color: white;
    position: fixed;
    bottom: 0;
    height: @bottombar-height;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      span.oi {
        margin-right: 1em;
      }
    }
    .controls-container {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      > * {
        border: 1px solid #333;
        background-color: #313155;
        border-radius: 0.2em;
        span {
          padding: 1em;
          cursor: pointer;
        }
        span:hover {
          color: #66a;
        }
      }
    }
  }
}
